<table class="table is-bordered is-striped is-hoverable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Restaurant</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <% restaurants.forEach(item =>{ %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.title %></td>
                <td><%= item.restaurant %></td>
                <td><a href="<%= `/update?id=${item.id}` %>">Update</a></td>
            </tr>
        <% }) %>
        
    </tbody>
</table>