<section id="detail-page">
    <div class="columns">
        <!-- image -->
        <div class="column is-7">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </div>

        <!-- detail description -->
        <ul class="column content" style="list-style: inside; margin-left: 12px;">
            <!-- Restaurant -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Greyhound Cafe</strong>
            </li>
            <!-- title -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Simply receive a complimentary drink</strong>
            </li>
            <!-- Conins -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Conins:</strong>
                500
            </li>
             <!-- Quota -->
             <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Quota:</strong>
                22
            </li>
            <!-- Address -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Address:</strong>
                IFC Mail, HK Island
            </li>
            <!-- Valid Till -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Valid Till:</strong>
                2021-06-31
            </li>
            
        </ul>

    </div>
</section>