<section class="columns">
  <% [1, 2, 3].forEach(item => { %>

    <!-- each cloumn -->
    <div class="column">

      <!-- title of each column -->
      <div class="card-title">
        <h4 class="title is-4">HK Island</h4>
      </div>

      <!-- cards of each column -->
      <% [1, 2].forEach(subitem =>{ %>
        <a href="/detail">
          <% include ../layouts/card %>
        </a>
      <% }); %>

    </div>
    

  <% }); %>
</section>