<style>
    /* pc */
    @media screen and (min-width: 769px) {
        /* card */
        .register-card {
            width: 50%;
            margin: 20px auto;
        }
        /* form item */
        .register-form-item {
            margin: 20px 0;
        }
    }

    /* mobile */
    @media screen and (max-width: 768px) {
        .register-card {
            margin: 10px;
        }
    }
</style>

<div class="card register-card">
    <div class="card-content">
        <!-- username -->
        <div class="field register-form-item">
            <label style="label">Username</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>
        <!-- password -->
        <div class="field register-form-item">
            <label style="label">Password</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>
        <!-- coins -->
        <div class="field register-form-item">
            <label style="label">Coins</label>
            <div class="control">
                <input class="input" type="text" disabled value="10000">
            </div>
        </div>
        <!-- register button -->
        <div class="field register-form-item">
            <div class="control" style="display: flex;justify-content: flex-end">
                <button class="button is-link">Register</button>
            </div>
        </div>
    </div>
</div>