<section>
    <div class="columns">
        <!-- left side -->
        <div class="column">
            <!-- Title -->
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text">
                </div>
            </div>
            <!-- Restaurant -->
            <div class="field">
                <label class="label">Restaurant</label>
                <div class="control">
                    <input class="input" type="text">
                </div>
            </div>
            <!-- Region and Mall-->
            <div class="columns">
                <!-- Region -->
                <div class="column">
                    <div class="field">
                        <label class="label">Region</label>
                        <div class="control">
                            <div class="selecte">
                                <select>
                                    <option>Kowloon</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mall -->
                <div class="column">
                    <div class="field">
                        <label class="label">Mall</label>
                        <div class="control">
                            <div class="selecte">
                                <select>
                                    <option>Elements</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image -->
            <div class="field">
                <label class="label">Image</label>
                <div class="control">
                    <input class="input" type="text">
                </div>
            </div>
            <!-- Delete -->
            <div class="field">
                <div class="control">
                    <button class="button is-danger">Delete</button>
                </div>
            </div>
        </div>
        <!-- right side -->
        <div class="column">
            <!-- Coins and Quota -->
        <div class="columns">
            <!-- Coins -->
            <div class="column">
                <div class="field">
                    <label class="label">Coins</label>
                    <div class="control">
                        <input class="input" type="text">
                    </div>
                </div>
            </div>
            <!-- Quota -->
            <div class="column">
                <div class="field">
                    <label class="label">Quota</label>
                    <div class="control">
                        <input class="input" type="text">
                    </div>
                </div>
            </div>
        </div>
        <!-- Deal Vaild Till -->
        <div class="field">
            <label class="label">Deal Vaild Till</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>
        <!-- Detail -->
        <div class="field">
            <label class="label">Detail</label>
            <div class="control">
                <textarea class="textarea"></textarea>
            </div>
        </div>
        <!-- Submit -->
        <div class="field">
           <div class="control">
               <button class="button is-link">Submit</button>
           </div>
        </div>
    </div>

        </div>
        
</section>